<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.akak4456.mapper.ReportMapper">
<select id="getList" resultType="org.akak4456.domain.ReportVO">
	<![CDATA[
	select * from tbl_report where caseno > 0
	]]>
</select>
<select id="getListWithPaging" resultType="org.akak4456.domain.ReportVO">
	<![CDATA[
	select
		caseno, targetno, casekind, regdate
	from
		(
		select /*+INDEX_DESC(tbl_report pk_report) */
			rownum rn, caseno, targetno, casekind, regdate
		from
			tbl_report
		where rownum <= #{pageNum} * #{amount}
		)
	where rn > (#{pageNum}-1)*#{amount}
	]]>
</select>
<select id="read" resultType="org.akak4456.domain.ReportVO">
	select * from tbl_report where caseno = #{caseno}
</select>
<insert id="insertSelectKey">
	<selectKey keyProperty="caseno" order="BEFORE" resultType="long">
		select seq_report.nextval from dual
	</selectKey>
	insert into tbl_report(caseno, targetno, casekind)
	values (#{caseno},#{targetno},#{casekind})
</insert>
<delete id="delete">
	delete tbl_report where caseno=#{caseno}
</delete>
<select id="getTotal" resultType="int">
	select count(*) from tbl_report
</select>
</mapper>